.feature-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 230px;
    margin-bottom: 20px;
}

.feature-box h3 {
    font-size: 34px !important;
    text-align: center;
}
.work-content.red a.arrow-link svg g{
    fill: #FF6F71
}
.work-content.yellow a.arrow-link svg g{
    fill: #F6CA8C;
}
.color-white {
    color: #fff !important;
}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
    .feature-box {
        height: 300px;
    }
}
.color-text {
    background: linear-gradient(40deg, #2812da 0%, #e82aa3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.small {
    font-size: 0.8em;
}

.hello-text {
    line-height: 2em;
    font-family: 'JosefinSlab';
}

.font-jose {
    font-family: 'JosefinSlab';
}